li {
  list-style: none;
}

ul {
  padding-left: 0;
}

.detail-list {
  width: calc(100%);
}

.detail-preview {
  padding: 3% 10%;
  display: flex;
  justify-content: space-between;
}

.main-img-wrapper {
  width: calc(100%);
  margin-left: 3vw;
}

.text-wrapper {
  width: calc(100%);
}

.size-wrap {
  width: calc(100% - 10%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr;
  margin-top: 3vw;
}

.size-wrap h4 {
  font-family: "Berliana Lovely Freebies";
  text-align: center;
  font-size: 1.5vw;
}

/* /////////사이즈표/////////// */
.sizp-girdBox {
  width: calc(100%);
  display: flex;
  justify-content: space-between;
}

.sizp-girdBox {
  width: calc(100% - 10%);
  font-size: 1vw;
  font-family: "Pretendard-Medium";
  margin-top: 1.25vw;
}

.main-size-text {
  border: none;
  background-color: transparent;
}

.main-size-text-list li {
  text-align: center;
  margin-bottom: 15px;
}

.main-size-text-list {
  width: calc(100%);
  text-align: center;
}

/* /////////좌측 이미지 보여주기/////////// */

.change-Img img {
  width: 30.5vw;
  height: 34vw;
}

.main-img-item {
  width: calc(100% - 20%);
  display: flex;
  justify-content: space-between;
  margin-top: 1.25vw;
}

.main-img-item img {
  width: calc(95% / 5);
  cursor: pointer;
  object-fit: cover;
}

/* /////////우측 텍스트////////// */

.text-top-wrap {
  width: calc(100%);
  font-family: "Pretendard-Bold";
}

.text-top-wrap li:first-child {
  font-size: 1.4vw;
}

.text-top-wrap li:nth-child(2),
.text-top-wrap li:last-child {
  color: #5d5d5d;
  font-size: 1vw;
  margin-top: 0.6vw;
}

.text-top-wrap li:last-child {
  margin-top: 3vw;
}

.price-text-wrap {
  width: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8vw;
}

.price-text-wrap li {
  font-family: "Pretendard-Bold";
  color: rgb(241, 107, 11);
  font-size: 1vw;
}

.price-sub-text {
  display: flex;
}

.price-sub-text li {
  font-family: "Pretendard-Medium";
  color: rgb(4, 111, 18);
  font-size: 1vw;
  margin-right: 0.3vw;
}

.price-sub-text li:last-child {
  color: #aaaaaa;
  text-decoration: line-through 0.09vw;
}

/* /////////우측 사이즈///////// */
.size-text-wrapper {
  width: calc(100% - 25%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vw;
}

.size-text-wrapper button {
  width: calc(100% / 4 - 1.25vw);
  border: 0.12vw solid #000;
  background-color: #fff;
  padding: 0.3vw 0.9vw;
  border-radius: 0.3vw;
  text-align: center;
  font-family: "Pretendard-Medium";
  font-size: 0.9vw;
  transition: all 300ms ease-in-out;
}

.size-text-wrapper button:hover {
  background-color: #dcdcdc;
}

/* /////////우측 주문///////// */
.order-wrapper {
  width: calc(100% - 25%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8vw;
}

.order-wrapper button {
  background-color: #000;
  color: #fff;
  border: none;
  font-family: "Pretendard-Bold";
  border-radius: 0.4vw;
  font-size: 1vw;
}

.heart-icon {
  width: calc(100% - 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.1vw;
  margin-left: 0.9vw;
}

.heart-icon:hover {
  color: rgb(255, 94, 94);
}

.order-box {
  width: calc(100%);
  display: flex;
}

.order-box button {
  width: 11vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.9vw 1.25vw;
}

.order-box button:active {
  background: #444444;
}

.order-box button:first-child {
  margin-right: 1.25vw;
}

/* /////////우측 하단 상세내용///////// */
.aboutDesign-wrapper,
.aboutWith-wrapper {
  width: calc(100% - 20%);
  margin-top: 3vw;
  font-family: "Pretendard-Medium";
  font-size: 1vw;
}

.aboutDesign-wrapper li:first-child {
  font-family: "Pretendard-ExtraBold";
  margin-top: 0;
}

.aboutDesign-wrapper li:nth-child(2) {
  margin-top: 0.3vw;
}

.aboutDesign-wrapper li {
  margin-top: 1.5vw;
}

.aboutWith-wrapper li:first-child {
  font-family: "Pretendard-ExtraBold";
  margin-bottom: 0.3vw;
}

.aboutWith-wrapper li:nth-child(3),
.aboutWith-wrapper li:nth-child(5) {
  font-family: "Pretendard-ExtraBold";
  margin-top: 1.8vw;
  margin-bottom: 0.3vw;
}
