.login-logo {
    margin-top: 50px;
}

.login-logo img {
    width: 120px;
}

.Login-Container {
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: 'Pretendard-Light';
}

.Login-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Login-btn button {
    width: 50%;
    padding: 20px;
    outline: none;
    border: 1px solid #dadada;
    border-bottom: none;
    background-color: transparent;
}

.Login-btn button:last-child {
    border-left: none;
}

.Login-btn button:hover {
    background-color: #f1f1f1;
}

/* /////////////////////////////////////////////// */

.Login-Box {
    display: none;
}

.Login-Box,
.Join-Box {
    border: 1px solid #dadada;
    text-align: center;
    padding: 30px;
    position: relative;
}

.Id-Box {
    margin-top: 50px;
}

.Id-Box p {
    position: absolute;
    top: 50px;
    left: 80px;
}

.Id-Box input,
.Pw-Box input {
    width: 80%;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
}

.Pw-Box {
    margin-top: 50px;
}

.Pw-Box p {
    position: absolute;
    top: 150px;
    left: 80px;
}

/* /////////////////////////////////////////////// */

.Next-btn button {
    width: 80%;;
    padding: 12px;
    outline: none;
    border: 1px solid #000;
}

.Next-btn button:first-child {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #000;
    color: #fff;
}

.Next-btn button:last-child {
    background-color: #fff;
}

/* /////////////////////////////////////////////// */

.SNS-Box {
    padding: 30px 0;
    text-align: center;
}

.sns-border-box {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.sns-border-left,
.sns-border-right {
    width: 30%;
    height: 1px;
    background-color: #a0a0a0;
}

.SNS-Img {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 25px;
}

.SNS-Img img {
    width: 60%;
    cursor: pointer;
}

/* /////////////////////////////////////////////// */

.Join-List {
    width: 80%;
    border: solid red;
    margin: 0 auto;
    margin-top: 50px;
}

.Name-Box {
    display: flex;
    justify-content: space-between;

}

.Name-Box input {
    width: 45%;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
}

.Join-Pw {
    position: relative;
}

.Join-Pw input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
    margin-top: 20px;
}

.Join-Pw img {
    position: absolute;
    width: 8%;
    top: 45%;
    right: 5%;

}