/* 공통적용 스타일 */
.faChevron {
  margin-left: 8px;
  font-size: 13px;
  cursor: pointer;
}

.list-item {
  display: flex;
  align-items: center;
}

.list-detail {
  margin-left: 5px;
}

.product-item-list li,
.product-item-list p {
  font-size: 18px;
  font-family: "Pretendard-Regular";
  margin-bottom: 10px;
}

.swiper .swiper-pagination {
  display: none;
}

/* ///////////////////// */

.product-wrapper {
  width: calc(100%);
  margin-top: 150px;
}

.product-wrapper-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  margin-top: 50px;
}

.product-title {
  width: calc(100%);
  text-align: center;
  font-family: "Berliana Lovely Freebies";
}

/* ----좌측 필터 적용---- */
.productName {
  position: sticky;
  top: 40px;
  width: calc(100% - 75%);
  height: 300px;
  text-align: left;
  overflow-y: scroll;
  cursor: pointer;
}

.productName::-webkit-scrollbar {
  width: 8px;
}

.productName::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 10px;
}

.productName::-webkit-scrollbar-track {
  background: #ececec;
}

.voice {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.voice ul {
  width: calc(100% - 10%);
  display: flex;
  align-items: center;
}

.voice ul:first-child {
  position: relative;
}

.voice ul:first-child button {
  display: flex;
  align-items: center;
  font-family: "Pretendard-ExtraBold";
  font-size: 18px;
  border: none;
  background-color: transparent;
  transition: all 300ms ease-in-out;
}

.voice ul:first-child button span {
  margin-right: 10px;
}

.voice ul:first-child button:hover {
  color: #7f7f7f;
}

.voice ul:first-child:hover .voice-guide {
  display: block;
}

.voice-guide {
  font-size: 15px;
  font-family: "Pretendard-Bold";
  position: absolute;
  top: -35px;
  left: 20px;
  background-color: #ffff03;
  padding: 5px 13px;
  border-radius: 20px;
  display: none;
}

.voice label {
  width: 80px;
  display: flex;
  justify-content: space-between;
  font-family: "Pretendard-ExtraBold";
  font-size: 17px;
}

.voice ul input {
  margin-left: 10px;
}

input[type="range"] {
  width: 100px;
  accent-color: #5a5a5a;
}

/* ----우측 상단 필터 적용---- */

.list {
  width: calc(100% - 65%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 65px;
  z-index: 2;
  font-family: "Pretendard-Light";
}

.faSliders {
  cursor: pointer;
  margin-left: 8px;
}

.list-item-array {
  width: calc(100% - 130px);
  display: flex;
  justify-content: space-between;
}

.list-item-choice {
  width: calc(100% - 80px);
}

.choice-array {
  width: calc(100% - 25%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item-choice div {
  background: #ffffff;
  padding: 20px 20px 5px 20px;
  box-shadow: 2px 2px 5px #a3a3a3;
  border-radius: 5px;
}

.list-item-choice div li {
  cursor: pointer;
}

.list-item-choice div li:hover {
  text-decoration: underline #7f7f7f;
}

/* ----Product 상품 페이지 적용---- */
.product-main-inner {
  width: calc(100%);
  position: relative;
}

.product-list {
  width: calc(100% - 15%);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  font-family: "Pretendard-Medium";
  margin-top: 40px;
}

.product-preview {
  width: calc(100% / 3);
  height: 600px;
  margin: 0 auto;
  padding: 10px;
}

.product-previewp-img {
  width: 100%;
  height: 380px;
}

.product-preview img {
  width: 100%;
  height: 380px;
}

.best-text {
  margin-top: 20px;
  font-size: 13px;
  color: rgb(230, 85, 19);
}

.title-text {
  font-size: 13px;
  font-weight: 700;
}

.length-text {
  font-size: 14px;
}

.price-text {
  font-size: 14px;
}

/* --------------접근성 버튼----------------- */
.detail-wrapper {
  width: calc(100%);
  position: sticky;
  bottom: 5%;
  z-index: 2;
  float: right;
}

.modalImg {
  width: calc(100% - 90%);
  float: right;
  position: relative;
}

.detail-box::-webkit-scrollbar {
  width: 10px;
}

.detail-box::-webkit-scrollbar-thumb {
  background: rgb(58, 58, 58);
  border-radius: 10px;
}

.detail-box::-webkit-scrollbar-track {
  background: rgba(65, 65, 65, 0.1);
}

.detail-box {
  width: calc(100% - 70%);
  height: 350px;
  position: absolute;
  bottom: 100%;
  right: 1%;
  margin-bottom: 20px;
  background-color: #fff;
  overflow-y: scroll;
  padding: 30px;
}

.detail-innerBox {
  width: calc(100% - 10%);
  font-family: "Pretendard-ExtraBold";
  font-size: 18px;
  margin: 0 auto;
}

/* ------스위치 버튼 --------*/
.swich-wrap {
  width: calc(100%);
  margin-bottom: 20px;
}

.swich-item {
  width: calc(100%);
  height: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 30px;
}

.swich-item span {
  display: flex;
  align-items: center;
}

.swich-item span:last-child {
  margin-left: 20px;
}

.hide {
  height: 0;
  width: 0;
  visibility: hidden;
}

.detail-input {
  display: block;
  position: relative;
  width: 60px;
  height: 30px;
  text-indent: -9999px;
  background: #adadad;
  border-radius: 20px;
  cursor: pointer;
}

.detail-input:after {
  position: absolute;
  top: 2px;
  left: 5px;
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  box-shadow: 1px 1px 3px 2px #8e8e8e;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .detail-input {
  background: #ffd502;
}

input:checked + .detail-input:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

/* ----밝기----- */
.light-wrap {
  width: calc(100%);
  padding: 30px 0;
}

.light-wrap p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.light-wrap button {
  border: none;
  background-color: transparent;
}

.light-wrap img {
  width: calc(100% - 50%);
}

/* -----글자 크기 조정----- */
.text-size {
  width: calc(100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.text-size button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* ----글자 색상 변경----- */

.textColor-changeWrap {
  width: calc(100%);
}

.change-color {
  width: calc(100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.bgcolor {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  border-radius: 50%;
}

.textColor-changeWrap {
  margin-top: 10px;
}

.bgcColor-changeWrap {
  margin-top: 40px;
}
