/* 공통적용 스타일 */
.faChevron {
  margin-left: 8px;
  font-size: 13px;
  cursor: pointer;
}

.list-item {
  display: flex;
  align-items: center;
}

.list-detail {
  margin-left: 5px;
}

.product-item-list li,
.product-item-list p {
  font-size: 1.2vw;
  font-family: "Pretendard-Regular";
  margin-bottom: 10px;
}

.swiper .swiper-pagination {
  display: none;
}

.banner-wrapper {
  width: calc(100%);
}

/* ///////////////////// */

.product-wrapper {
  width: calc(100%);
  margin-top: 9vw;
}

.product-wrapper-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.6vw 1.8vw;
  margin-top: 3vw;
}

.product-title {
  width: calc(100%);
  font-size: 2.5vw;
  text-align: center;
  font-family: "Berliana Lovely Freebies";
}

/* ----좌측 필터 적용---- */
.productName {
  position: sticky;
  top: 2.5vw;
  width: calc(100% - 75%);
  height: 19vw;
  text-align: left;
  overflow-y: scroll;
  cursor: pointer;
}

.productName::-webkit-scrollbar {
  width: 0.6vw;
}

.productName::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 0.6vw;
}

.productName::-webkit-scrollbar-track {
  background: #ececec;
}

.voice {
  padding: 1.8vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.voice ul {
  width: calc(100% - 10%);
  display: flex;
  align-items: center;
}

.voice ul:first-child {
  position: relative;
}

.voice ul:first-child button {
  display: flex;
  align-items: center;
  font-family: "Pretendard-ExtraBold";
  font-size: 1.2vw;
  border: none;
  background-color: transparent;
  transition: all 300ms ease-in-out;
}

.voice ul:first-child button span {
  margin-right: 0.6vw;
}

.voice ul:first-child button:hover {
  color: #7f7f7f;
}

.voice ul:first-child:hover .voice-guide {
  display: block;
}

.voice-guide {
  font-size: 0.9vw;
  font-family: "Pretendard-Bold";
  position: absolute;
  top: -2.2vw;
  left: 0;
  background-color: #ffff03;
  padding: 5px 13px;
  border-radius: 20px;
  display: none;
}

.voice label {
  width: 5vw;
  display: flex;
  justify-content: space-between;
  font-family: "Pretendard-ExtraBold";
  font-size: 1vw;
}

.voice ul input {
  margin-left: 10px;
}

input[type="range"] {
  width: 6.25vw;
  accent-color: #5a5a5a;
}

/* ----우측 상단 필터 적용---- */

.list {
  width: calc(100% - 65%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 4vw;
  z-index: 2;
  font-family: "Pretendard-Light";
  font-size: 1.1vw;
}

.faSliders {
  cursor: pointer;
  margin-left: 0.5vw;
}

.list-item-array {
  width: calc(100% - 8vw);
  display: flex;
  justify-content: space-between;
}

.list-item-choice {
  width: calc(100% - 5vw);
}

.choice-array {
  width: calc(100% - 25%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item-choice div {
  background: #ffffff;
  padding: 1.25vw 1.25vw 0.3vw 1.25vw;
  box-shadow: 0.125vw 0.125vw 0.3vw #a3a3a3;
  border-radius: 0.3vw;
}

.list-item-choice div li {
  cursor: pointer;
}

.list-item-choice div li:hover {
  text-decoration: underline #7f7f7f;
}

/* ----Product 상품 페이지 적용---- */
.product-main-inner {
  width: calc(100%);
  position: relative;
}

.product-list {
  width: calc(100% - 15%);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  font-family: "Pretendard-Medium";
  margin-top: 2.5vw;
}

.product-preview {
  width: calc(100% / 3);
  height: 37vw;
  margin: 0 auto;
  padding: 0.625vw;
}

.product-previewp-img {
  width: 100vw;
  height: 23vw;
}

.product-preview img {
  width: 20vw;
  height: 23vw;
  margin-top: 2vw;
}

.best-text {
  margin-top: 1.25vw;
  font-size: 0.9vw;
  color: rgb(230, 85, 19);
}

.title-text,
.length-text,
.price-text {
  font-size: 0.85vw;
  font-weight: 700;
}


/* --------------접근성 버튼----------------- */
.detail-wrapper {
  width: calc(100%);
  position: sticky;
  bottom: 5%;
  z-index: 2;
  float: right;
}

.modalImg {
  width: calc(100% - 90%);
  float: right;
  position: relative;
}

.detail-box::-webkit-scrollbar {
  width: 0.6vw;
}

.detail-box::-webkit-scrollbar-thumb {
  background: rgb(58, 58, 58);
  border-radius: 0.6vw;
}

.detail-box::-webkit-scrollbar-track {
  background: rgba(65, 65, 65, 0.1);
}

.detail-box {
  width: calc(100% - 70%);
  height: 22vw;
  position: absolute;
  bottom: 100%;
  right: 1%;
  margin-bottom: 1.25vw;
  background-color: #fff;
  overflow-y: scroll;
  padding: 1.9vw;
}

.detail-innerBox {
  width: calc(100% - 10%);
  font-family: "Pretendard-ExtraBold";
  font-size: 1.1vw;
  margin: 0 auto;
}

/* ------스위치 버튼 --------*/
.swich-wrap {
  width: calc(100%);
  margin-bottom: 1.25vw;
  font-size: 1.2vw;
}

.swich-item {
  width: calc(100%);
  height: 2.5vw;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1.8vw;
}

.swich-item span {
  display: flex;
  align-items: center;
}

.swich-item span:last-child {
  margin-left: 1.25vw;
}

.hide {
  height: 0;
  width: 0;
  visibility: hidden;
}

.detail-input {
  display: block;
  position: relative;
  width: 3.75vw;
  height: 1.89vw;
  text-indent: -624vw;
  background: #adadad;
  border-radius: 1.25vw;
  cursor: pointer;
}

.detail-input:after {
  position: absolute;
  top: 0.12vw;
  left: 0.31vw;
  content: "";
  width: 1.5vw;
  height: 1.5vw;
  background: #fff;
  box-shadow: 1px 1px 3px 2px #8e8e8e;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .detail-input {
  background: #ffd502;
}

input:checked + .detail-input:after {
  left: calc(100% - 0.3vw);
  transform: translateX(-100%);
}

/* ----밝기----- */
.light-wrap {
  width: calc(100%);
  padding: 1.8vw 0;
}

.light-wrap p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.light-wrap button {
  border: none;
  background-color: transparent;
}

.light-wrap img {
  width: calc(100% - 50%);
}

/* -----글자 크기 조정----- */
.text-size {
  width: calc(100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8vw;
}

.text-size button {
  width: 1.8vw;
  height: 1.8vw;
  border-radius: 50%;
}

/* ----글자 색상 변경----- */

.textColor-changeWrap {
  width: calc(100%);
}

.change-color {
  width: calc(100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.bgcolor {
  width: 1.9vw;
  height: 1.9vw;
  margin-top: 0.3vw;
  border-radius: 50%;
}

.textColor-changeWrap {
  margin-top: 0.6vw;
}

.bgcColor-changeWrap {
  margin-top: 2.5vw;
}
