.product-wrapper {
  width: calc(100%);
  margin-top: 100px;
}

.product-wrapper-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.product-title {
  width: calc(100%);
  text-align: center;
  font-family: "Berliana Lovely Freebies";
}

.productName {
  position: sticky;
  top: 40px;
  width: calc(100% - 80%);
  height: 300px;
  text-align: left;
  overflow-y: scroll;
}

.productName::-webkit-scrollbar {
  width: 8px;
}

.productName::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 10px;
}

.productName::-webkit-scrollbar-track {
  background: #ececec;
}

.product-item-list li,
.product-item-list p {
  font-size: 17px;
  font-family: "Pretendard-Regular";
  margin-bottom: 5px;
}

.product-main-inner {
  width: calc(100%);
  border: solid red;
  position: relative;
  margin-top: 10px;
}

.product-list {
  width: calc(100% - 10%);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  font-family: "Pretendard-Medium";
  margin-top: 30px;
}

.filter {
  position: absolute;
  top: 0;
  right: 7%;
}

.list {
  display: flex;
}

.list-item {
  margin-right: 20px;
}

.faSliders {
  margin-left: 5px;
}

.list-item-choice {
  display: flex;
}

.product-preview {
  width: calc(100% / 3);
  height: 600px;
  margin: 0 auto;
  padding: 10px;
}

.product-previewp-img {
  width: 100%;
  height: 380px;
}

.product-preview img {
  width: 100%;
  height: 380px;
}

.best-text {
  margin-top: 20px;
  font-size: 13px;
  color: rgb(248, 102, 4);
}

.title-text {
  font-size: 13px;
  font-weight: 700;
}

.length-text {
  font-size: 14px;
}

.price-text {
  font-size: 14px;
}

.detail {
  position: sticky;
  top: 15%;
  height: 600px;
  margin-top: 100px;
}

.detail-box::-webkit-scrollbar {
  width: 10px;
}

.detail-box::-webkit-scrollbar-thumb {
  background: rgba(220, 20, 60);
  border-radius: 10px;
}

.detail-box::-webkit-scrollbar-track {
  background: rgba(220, 20, 60, 0.1);
}

.detail-box {
  width: 350px;
  height: 600px;
  overflow-y: scroll;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 3px 3px 3px gray;
  padding: 5px;
}

.detail-input-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.detail-input-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.detail-input-item p {
  width: 100%;
}

.hide {
  height: 0;
  width: 0;
  visibility: hidden;
}

.detail-input {
  cursor: pointer;
  text-indent: -9999px;
  width: 100px;
  height: 50px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.detail-input:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .detail-input {
  background: #bada55;
}

input:checked + .detail-input:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.light {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 100px;
}

.light img {
  width: 50px;
  height: 50px;
}

input[type="range"] {
  accent-color: #e90b73;
}

.text-size {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  box-shadow: 3px 3px 3px gray;
  width: 80%;
  height: 100px;
  align-items: center;
  margin-top: 10px;
}

.min-button {
  border-radius: 50%;
  width: 30px;
}

.plus-button {
  border-radius: 50%;
  width: 30px;
  margin-right: 5px;
}

.modalImg {
  width: 110px;
  height: 110px;
  margin-top: 50px;
}

.bgcolor {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  margin: 10px 10px 0 5px;
}

.bgcolor:hover {
  scale: 1.2;
}
.change-color {
  margin-top: 10px;
  border: 1px solid rgba(73, 109, 181, 0.4);
}

.change-color:hover {
  border: 1px solid rgba(73, 109, 181, 1);
  background-color: rgb(134, 187, 222);
}
.change-color-text {
  margin-left: 5px;
}
