.Product-center {
  text-align: center;
  font-family: 'Berliana Lovely Freebies';
  margin-top: 50px;
}

.product-list{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  font-family: 'Pretendard-Medium';
}

.product-preview{
  width: calc(100%/3);
  height: 600px;
  margin: 0 auto;
  padding: 10px;
}

.product-previewp-img {
  width: 100%;
  height: 380px;
}

.product-preview img{
  width: 100%;
  height: 380px;
}

.best-text {
  margin-top: 20px;
  font-size: 13px;
  color: rgb(248, 102, 4);
}

.title-text {
  font-size: 13px;
  font-weight: 700;
}

.length-text {
  font-size: 14px;
}

.price-text {
  font-size: 14px;
}