.Header-Container {
  width: calc(100%);
  height: 100px;
  line-height: 100px;
  font-family: "Pretendard-Medium";
}

.Header-Box {
  width: calc(100% - 10%);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo img {
  width: calc(100% - 87%);
}

.userItemBox {
  width: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userList li {
  transition: all 300ms ease-in-out;
  cursor: pointer;
  font-size: 1.2vw;
}

.userList li:first-child:hover {
  font-weight: 700;
}

.userList li:hover:nth-child(2),
.userList li:hover:nth-child(3) {
  color: #fac107;
}
