.Header-Container {
    width: 100%;
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Pretendard-Medium';
}

.logo {
    padding: 0 100px;
}

.logo img {
    width: 120px;
}

.userList {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

.icon {
    font-size: 20px;
}