* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

@font-face {
    font-family: 'Berliana Lovely Freebies';
    src: url('../public/assets/Font/AnyConv.com__Berliana\ Lovely\ Freebies.woff');
}

@font-face {
    font-family: 'Pretendard-Black';
    src: url('../public/assets/Font/AnyConv.com__Pretendard-Black.woff');
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../public/assets/Font/AnyConv.com__Pretendard-Bold\ \(1\).woff');
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('../public/assets/Font/AnyConv.com__Pretendard-ExtraBold\ \(1\).woff');
}

@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('../public/assets/Font/AnyConv.com__Pretendard-ExtraLight.woff');
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('../public/assets/Font/AnyConv.com__Pretendard-Light.woff');
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../public/assets/Font/AnyConv.com__Pretendard-Medium\ \(1\).woff');
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../public/assets/Font/AnyConv.com__Pretendard-Regular.woff');
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../public/assets/Font/AnyConv.com__Pretendard-SemiBold\ \(1\).woff');
}

@font-face {
    font-family: 'Pretendard-Thin';
    src: url('../public/assets/Font/AnyConv.com__Pretendard-Thin.woff');
}